# My First Jupyter Notebook

In [6]:
print("Hello world")

Hello world

# Product Analysis

In [7]:
# Sample product analysis dataset
import pandas as pd

data = {
    'ProductID': [101, 102, 103, 104, 105],
    'ProductName': ['Laptop', 'Smartphone', 'Headphones', 'Monitor', 'Keyboard'],
    'Category': ['Electronics', 'Electronics', 'Accessories', 'Electronics', 'Accessories'],
    'Price': [1200, 800, 150, 300, 50],
    'UnitsSold': [30, 50, 100, 20, 75],
    'Rating': [4.5, 4.7, 4.2, 4.3, 4.0]
}

df = pd.DataFrame(data)
df

   ProductID ProductName     Category  Price  UnitsSold  Rating
0        101      Laptop  Electronics   1200         30     4.5
1        102  Smartphone  Electronics    800         50     4.7
2        103  Headphones  Accessories    150        100     4.2
3        104     Monitor  Electronics    300         20     4.3
4        105    Keyboard  Accessories     50         75     4.0

In [ ]:
import matplotlib.pyplot as plt